# Basic configuration
NODE_ENV=development
PORT=4003
HOST=localhost
HOST_URL=http://localhost:4003

# MongoDB configuration URL
MONGODB_URL=mongodb://localhost:27017/project
# MongoDB with test database
TEST_MONGODB_URL=mongodb://localhost:27017/project_test

# Gmail credentails (optional)
GMAIL_USERNAME=
GMAIL_PASSWORD=

# Front end Host url for reset password link on email
FRONT_END_HOST_URL=http://localhost:3000